@page "/reset-password"
@layout HeadlessLayout
@inherits ResetPasswordPage

<PageTitle>Dima - Redefinir senha</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="12" md="8" lg="6" xl="6" xxl="6">
        <MudPaper Class="mud-width-full pa-8">

            <div class="d-flex justify-center pb-6 pt-6">
                <img src="imgs/dima.png"
                     alt="Dima - Controle Financeiro"
                     width="200" />
            </div>

            @if (!HasValidParameters)
            {
                <div class="text-center">
                    <MudIcon Icon="@Icons.Material.Filled.LinkOff"
                             Color="Color.Error"
                             Size="Size.Large"
                             Class="mb-4" />

                    <MudText Typo="Typo.h5"
                             GutterBottom="true">
                        Link inválido
                    </MudText>

                    <MudText Typo="Typo.body1"
                             Class="mb-6">
                        O link de redefinição está incompleto ou inválido.
                        Solicite uma nova recuperação de senha.
                    </MudText>

                    <MudButton Href="/esqueci-minha-senha"
                               Variant="Variant.Filled"
                               Color="Color.Primary">
                        SOLICITAR NOVO LINK
                    </MudButton>
                </div>
            }
            else if (PasswordChanged)
            {
                <div class="text-center">
                    <MudIcon Icon="@Icons.Material.Filled.CheckCircle"
                             Color="Color.Success"
                             Size="Size.Large"
                             Class="mb-4" />

                    <MudText Typo="Typo.h5"
                             GutterBottom="true">
                        Senha redefinida
                    </MudText>

                    <MudText Typo="Typo.body1"
                             Class="mb-6">
                        Sua senha foi alterada com sucesso.
                        Agora você já pode entrar novamente.
                    </MudText>

                    <MudButton Href="/login"
                               Variant="Variant.Filled"
                               Color="Color.Primary">
                        IR PARA O LOGIN
                    </MudButton>
                </div>
            }
            else
            {
                <MudText Typo="Typo.h5"
                         GutterBottom="true">
                    Redefinir senha
                </MudText>

                <MudText Typo="Typo.body2"
                         Class="mb-6">
                    Informe e confirme sua nova senha.
                </MudText>

                <EditForm Model="@InputModel"
                          OnValidSubmit="OnValidSubmitAsync">

                    <DataAnnotationsValidator />

                    <MudTextField T="string"
                                  Label="E-mail"
                                  Value="@InputModel.Email"
                                  Disabled="true" />

                    <MudTextField T="string"
                                  Label="Nova senha"
                                  HelperText="Informe sua nova senha"
                                  InputType="@NewPasswordInputType"
                                  For="@(() => InputModel.NewPassword)"
                                  @bind-Value="InputModel.NewPassword"
                                  Disabled="@IsBusy"
                                  Adornment="Adornment.End"
                                  AdornmentIcon="@NewPasswordVisibilityIcon"
                                  AdornmentAriaLabel="@NewPasswordVisibilityAriaLabel"
                                  OnAdornmentClick="ToggleNewPasswordVisibility" />

                    <MudTextField T="string"
                                  Label="Confirmar nova senha"
                                  HelperText="Repita sua nova senha"
                                  InputType="@ConfirmPasswordInputType"
                                  For="@(() => InputModel.ConfirmPassword)"
                                  @bind-Value="InputModel.ConfirmPassword"
                                  Disabled="@IsBusy"
                                  Adornment="Adornment.End"
                                  AdornmentIcon="@ConfirmPasswordVisibilityIcon"
                                  AdornmentAriaLabel="@ConfirmPasswordVisibilityAriaLabel"
                                  OnAdornmentClick="ToggleConfirmPasswordVisibility" />

                    <div class="d-flex align-center mt-8">
                        @if (IsBusy)
                        {
                            <MudProgressCircular Color="Color.Info"
                                                 Indeterminate="true"
                                                 Size="Size.Small" />
                        }
                        else
                        {
                            <MudButton ButtonType="ButtonType.Submit"
                                       Variant="Variant.Filled"
                                       Color="Color.Primary">
                                REDEFINIR SENHA
                            </MudButton>
                        }

                        <MudSpacer />

                        <MudButton Href="/login"
                                   Variant="Variant.Text">
                            CANCELAR
                        </MudButton>
                    </div>

                </EditForm>
            }

        </MudPaper>
    </MudItem>
</MudGrid>